.cell {
    float: left;
    width: 13%;
    padding-bottom : 13%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    border: 1px solid;
    background-color: black;
    background-image: url('circle_white.png')
}

.empty {
  background-image: url('circle_white.png');
}

.red {
  background-image: url('circle_red.png');
}

.blue {
  background-image: url('circle_blue.png');
}

.win {
  background-image: url('circle_win.png');
}
